.section {
    margin-top: 80px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.heading {
    font-size: 2rem;
}

.text {
    font-size: 1.5rem;
}

.heading, .text {
    text-align: center;
    margin-bottom: 24px;
    color: var(--font-color);
}

.link {
    color: var(--primary-color);
}