.inputContainer {
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.input {
    padding: 10px;
    border: var(--card-border);
    border-radius: var( --border-radius);
}

.input:focus {
    outline: 1px solid var(--primary-color) ;
}

.message {
    height: 18px;
    font-size: 0.625rem;
    color: var(--error-color)
}