.container{
    width: 100%;
    margin-bottom: -75px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--card-color);
    padding: 56px 60px;
    border-radius: var( --border-radius);
    color: var(--background-color);
}

.link {
    border: 3px solid var(--secondary-color);
    color: var(--background-color);
    border-radius: 50px;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.link:hover {
    background-color: var(--secondary-color);
    color: var(--card-color);
}

.heading, .text, .button {
    flex: 1;
}

.heading {
    font-size: 2rem;
}
.text {

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 320px) {
    .container {
        flex-direction: column;
    }
    .text {
        text-align: center;
    }


}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}
